body{
    background-color: rgb(213, 170, 219);
}
#password-strength {
    height: 10px;
    border-radius: 5px;
  }
  
  #password-strength .progress-bar {
    border-radius: 5px;
  }
  
  #password-strength .bg-danger {
    background-color: red;
  }
  
  #password-strength .bg-warning {
    background-color: orange;
  }
  
  #password-strength .bg-success {
    background-color: rgb(70, 152, 77);
  }
  
  #password-conditions .password-condition {
    margin-top: 2px;
    width: 50%;
    color: rgb(78, 67, 67);
  }
  
  #password-conditions .password-condition.met {
    background-color: rgb(70, 152, 77);;
    color: #fff;
    border-radius: 5px;
  }
  p{
    margin-top: 5px;
    font-size: 22px;
  }